/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial, sans-serif;
}

#header {
  width: 100%;
  display: inline;
}

#user_header_box {
  text-align: right;
}
#header .mini_menu {
  font-size: small;
  display: inline;
}

#header h1, h3 {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

#header h3 {
  font-weight: normal;
}
